@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400&display=swap');

/* Mobile first */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    background-color: #FFF5E8;
}

.grid-container-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
            "recipes-container"
            "footer";
}

.grid-container-recept {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
            "recipe-content"
            "footer";
}


h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

h3 {
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.ingredients ::marker, .directions ::marker {
    color: #43664D;
}

label {
    font-size: 16px;
    display: block;
    margin: 10px;
}

input {
    font-size: 16px;
}

header {
    grid-area: header;
    display: block;
    margin: 0;
    text-align: center;
    background-color: #43664D;
    color: #FFFFFF;
    padding: 15px 0;
}

header p {
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #43664D;
    min-height: 2vh;
}

.navlinks {
    display: flex;
    /*justify-self: flex-start;*/
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    font-size: 20px;
    background-color: #43664D;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}

.navlinks a:hover {
    text-decoration: underline;
}

nav img {
    max-height: 30px;
}

nav img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer {
    background-color: #43664D;
    color: #FFFFFF;
    padding: 25px 0;
    text-align: center;
}

footer img {
    max-height: 35px;
}

footer img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer ul {
    list-style: none;
    padding-left: 0;
    display: inline;
    text-align: center;
}

footer li {
    list-style: none;
    display: inline;
    vertical-align: middle;
}

.navsearch {
    justify-self: flex-end;
}


.recipes-container {
    grid-area: recipes-container;
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    background-color: #FFF5E8;
}

.recipe {
    position: relative;
    /*flex: 1 0 50%;*/
    /*flex-basis: 33.3%;*/
    margin: 0 auto;
    text-align: center;
    background-color: white;
    max-width: 500px;
}

.recipe img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    color: black;
    width: 100%;
    opacity: 1;
}

.recipe-content {
    background-color: white;
    width: 100%;
    margin: 20px auto;
}

.recipe-image {
    position: relative;
    max-width: 100%;
    height: auto;
}

.recipe-header {
    display: flex;
    justify-content: center;
}

.recipe-header i {
    margin-top: 7px;
}

.recipe-header p {
    padding-left: 5px;
}

.recipe-title {
    text-align: center;
}

.ingredients li, .directions li {
    line-height: 1.6;
}

.ingredients, .directions {
    margin-top: 0;
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Barlow', sans-serif;
        margin: 0;
        background-color: #FFF5E8;
    }

    .grid-container-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "recipes-container"
            "footer";
    }

    header {
        grid-area: header;
        display: block;
        margin: 0;
        text-align: center;
        background-color: #43664D;
        color: #FFFFFF;
        padding: 15px 0;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #43664D;
        min-width: 2vh;
    }

    .navlinks {
        display: flex;
        justify-content: space-around;
    }

    .navlinks li {
        list-style: none;
    }

    .navlinks a {
        font-size: 20px;
        background-color: #43664D;
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px;
    }

    .navlinks a:hover {
        text-decoration: underline;
    }

    nav img {
        max-height: 30px;
    }

    nav img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    footer {
        background-color: #43664D;
        color: #FFFFFF;
        padding: 50px 0;
        text-align: center;
    }

    footer img {
        max-height: 35px;
    }

    footer img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    footer ul {
        list-style: none;
        padding-left: 0;
        display: inline;
        text-align: center;
    }

    footer li {
        list-style: none;
        display: inline;
        vertical-align: middle;
    }

    .navsearch {
        justify-self: flex-end;
    }


    .recipes-container {
        grid-area: recipes-container;
        width: 750px;
        margin: 20px auto;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-gap: 15px;
        background-color: #FFF5E8;
    }

    .recipe {
        position: relative;
        /*flex: 1 0 50%;*/
        /*flex-basis: 33.3%;*/
        /*margin: 12px 12px 12px 12px;*/
        text-align: center;
        max-width: 500px;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        color: black;
        width: 100%;
        opacity: 1;
    }

    .recipe-content {
        background-color: white;
        width: 750px;
        margin: 20px auto;
    }
}


/* Desktop */
@media screen and (min-width: 1211px) {

    h1 {
        font-size: 42px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin: 0;
    }


    label {
        font-size: 20px;
        display: block;
        margin: 10px;
    }

    input {
        font-size: 16px;
    }

    .navlinks a {
        font-size: 25px;
    }

    .navlinks a:hover {
        text-decoration: underline;
    }

    nav img:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    footer i:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .recipes-container {
        grid-area: recipes-container;
        width: 1200px;
        margin: 20px auto;
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        grid-gap: 15px;
        background-color: #FFF5E8;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        color: black;
        width: 100%;
        transition: .2s ease;
        opacity: 0;
    }

    .recipe:hover .overlay {
        opacity: 1;
    }

    .recipe-content {
        background-color: white;
        width: 800px;
        margin: 20px auto;
    }
}
